.container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  gap: 10px;
  margin-top: 42px;
  text-align: center;
}
#rock,
#paper,
#scissors,
#won,
#lost {
  padding: 15px 50px;
  font-size: 18px;
  font-weight: 700;
  font-family: sans-serif;
  cursor: pointer;
}
#rock {
  background-color: gray;
  color: white;
}
#paper {
  background-color: whitesmoke;
}
#scissors {
  background-color: silver;
}
/* results */
.result {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
#won,
#lost {
  display: none;
  position: absolute;
}
#won {
  background-color: limegreen;
  color: white;
}
#lost {
  background-color: red;
}
